body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    background-image: url("../images/giphy.gif");
    background-size: 20%;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
}
.element-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 320px;
    text-align: center;
    padding: 20px;
}
.element-card h1 {
    font-size: 60px;
    margin: 0;
    color: #2c3e50;
}
.element-card h2 {
    font-size: 30px;
    color: #3498db;
    margin-top: 10px;
}
.element-card p {
    font-size: 16px;
    color: #7f8c8d;
}
.info {
    margin-top: 20px;
}
.info div {
    margin-bottom: 10px;
}
.info label {
    font-weight: bold;
    color: #34495e;
}
.info span {
    color: #2ecc71;
}
.card-footer {
    margin-top: 20px;
    font-size: 14px;
    color: #bdc3c7;
}
.element-image {
    margin-top: 20px;
    width: 150px;
    height: auto;
    border-radius: 10px;
}
img{
    max-width: 50%;
    max-height: 50%;
}
