header {
    height: 100%;
}
.navbar {
    width: 100%;
    background: transparent;
    border: none;
    position: fixed;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 100;
    font-weight: 500;
    transition: all 0.4s ease;
}
.container {
    max-width: 80% !important;
  }
.nav>li>a {
    height: 100%;
    color: white;
}
  
.navbar-right {
    margin-right: 0px;
}
.navbar-default .navbar-nav > li > a {
    color: white;
  }
  
.navbar-default .navbar-nav > .active > a {
    color: white;
    font-weight: bold;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 25px;
    transition: all ease 1s;
}
  
.navbar-default .navbar-nav > li > a:hover {
    color: rgb(38,47,54);
    background-color: white;
    border-radius: 25px;
    transition: all ease 1s;
}

#about .row,
#how .row,
#contact .row {
  display: flex;
  align-items: center;
  height: 100%;
}

#about h2,
#how h2,
#what h2 {
  text-transform: uppercase;
}

#about h5,
#how h5,
#what h5 {
  letter-spacing: .15em;
  font-size: 14px;
}

#about p,
#how p,
#what p {
  line-height: 1.6;
  font-size: 19px;
  font-weight: 300;
}

.hero {
    position: relative;
    background: url('../images/owl.jpg') no-repeat center center;
    background-size: cover; /* Ensures full coverage */
    color: white;
    padding: 100px 0;
    text-align: center;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust transparency */
    z-index: 1;
}

.hero .container {
    position: relative;
    z-index: 2;
}

